---
const cards = [
    {
        number: "17",
        title: "Ponencias",
        description: "17 ponencias con destacados expertos internacionales. ¡No te las pierdas!"
    },
    {
        number: "25va",
        title: "Edición",
        description: "25 años reuniendo a los mejores ponentes del mundo. ¡Únete a la celebración!"
    },
    {
        number: "10",
        title: "Temáticas",
        description: "10 temas actuales que no querras perderte. ¡Explora lo último en tecnología!"
    },
    {
        number: "5",
        title: "Talleres",
        description: "5 talleres clave confirmados. ¡Desarrolla nuevas habilidades!"
    },
    {
        number: "5",
        title: "Días",
        description: "5 días de conocimiento, networking y experiencias únicas"
    }
]   
---

<section class="w-full flex flex-col justify-center items-center py-12 px-4 bg-gray-100">
    <div class="w-7xl flex flex-col justify-center items-center text-center mb-12">
        <h1 class="text-4xl font-bold text-gray-800">Bienvenido al Congreso Internacional de Ingeniería Informática y Sistemas</h1>
        <p class="mt-4 text-lg text-gray-600">Explora, aprende y conecta con expertos en el campo de la Tecnología y la Inteligencia Artificial.</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-8 w-full max-w-7xl">
        {cards.map(card => (
            <div class="bg-white rounded-xl shadow-lg p-8 transform transition-all duration-500 hover:scale-105">
                <div class="text-center">
                    <h2 class="text-4xl font-bold text-[#00A6CC] mb-4">{card.number}</h2>
                    <h3 class="text-2xl font-semibold text-gray-800 mb-3">{card.title}</h3>
                    <p class="text-gray-600">{card.description}</p>
                </div>
            </div>
        ))}
    </div>
</section>