<section class="w-full flex flex-row justify-center items-center bg-[#2D4567] gap-6 py-6">
    <div class="w-4xl text-white items-center justify-center mx-6">
        <h2 class="text-3xl font-bold hover:text-[#00A6CC] transition-colors duration-500 py-4">Acerca del evento</h2>
        <p>
            La XXV edición del Congreso Internacional de <span class="text-md font-bold">Ingeniería Informática y Sistemas</span>: Tiene como propósito reforzar las necesidades de atención y tendencias en el desarrollo adaptativo, colaborativo y resiliente de la evolución digital disruptiva, dividida en cuatro ejes temáticos, para su aplicación y proyección: Smart City, Inteligencia Artificial, Digitalización de Información y Liderazgo 4.0.
        </p>
        <p>
            El evento reunirá a especialistas de países como: Japón, Alemania, España, Brasil, México, Colombia, Chile, Paraguay, Perú entre otros, quienes presentarán los temas de su especialidad con un análisis constructivo sobre la revolución 4.0, en investigaciones, proyectos, empresas y servicios en general.
        </p>
        <p class="text-md pt-2"><span class="text-lg font-bold">Fecha:</span> 15 de noviembre de 2023</p>
        <p class="text-md"><span class="text-lg font-bold">Lugar:</span> Universidad de San Martín de Porres de Arequipa, Perú</p>
    </div>
    <div class="items-center justify-center mx-6">
        <img src="/src/assets/Congreso_01.jpg" alt="congreso" class="w-80 h-80 object-cover rounded-lg" />
    </div>
</section>