---
const year = new Date().getFullYear();
---

<footer class="w-full h-auto mx-auto py-2 flex justify-center items-center bg-gray-800 text-white">
    <div class="flex justify-center items-center">
        <p>Copyright © {year}, Escuela Profesional de Ingeniería de Sistemas - Universidad de San Martín de Porres de Arequipa.</p>
    </div>
</footer>