---
const year = new Date().getFullYear();
---

<footer class="w-full h-15 flex justify-center items-center bg-gray-800 text-white">
    <div>
        <p>Copyright © {year}, Escuela Profesional de Ingeniería de Sistemas - Universidad de San Martín de Porres de Arequipa.</p>
    </div>
</footer>