---
import Logo from '/public/LOGOCIIS.svg';
const links : {name:string, href:string}[] = [
    { name: 'INICIO', href: '/' },
    { name: 'ACERCA DEL EVENTO', href: '/#acerca' },
    { name: 'PONENTES', href: '/#ponentes' },
    { name: 'CRONOGRAMA', href: '/#cronograma' },
    { name: 'AUSPICADORES', href: '/#auspiciadores' },
    { name: 'TALLERES', href: '/workshops' },
];
---

<header class="fixed w-full z-100 h-15 flex justify-center items-center bg-[#024059] text-white">
<nav class="w-7xl my-2 flex justify-between items-center">
    <div class="flex flex-wrap">
        <img src={Logo.src} width="150" height="50" alt="logo">
    </div>
    <div class="text-md font-semibold hidden md:flex items-center space-x-4">
        <ul class="flex gap-4">
            {links.map((link) => (
                <li class="inline-block mr-4">
                    <a href={link.href} class="text-white hover:text-[#00A6CC]">{link.name}</a>
                </li>
            ))}
        </ul>
    </div>
</nav>
</header>