---
import Bienvenida from './Bienvenida.astro';
import Ponentes from './Ponentes.astro';
import Cronograma from './Cronograma.astro';
import Auspiciadores from './Auspiciadores.astro';
import Landing from './Landing.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const workshops = await getCollection('workshops');
---
<main class="w-full min-w-4xl flex flex-col items-center justify-center">
    <Landing />
    <Bienvenida />
    <Ponentes />
    <Cronograma/>
    <Auspiciadores id="auspiciadores"/>
</main>