---
import Bienvenida from './Bienvenida.astro';
import Descripcion from './Descripcion.astro';
import Ponentes from './Ponentes.astro';
import Cronograma from './Cronograma.astro';
import Auspiciadores from './Auspiciadores.astro';
import Landing from './Landing.astro';
---
<main class="flex flex-col items-center justify-center">
    <Landing />
    <Bienvenida />
    <Descripcion />
    <Ponentes />
    <Cronograma />
    <Auspiciadores />
</main>
       
    