<main class="flex flex-col items-center justify-center">
    <div class="w-full h-screen flex items-center justify-center bg-green-100">
        <img src="/src/assets/bg-congreso.jpg" alt="portada" class="w-full h-full object-cover" />
    </div>
    <div class="w-full flex flex-col justify-center items-center py-6 px-4 bg-gray-200">
        <div class="w-7xl flex flex-col justify-center items-center">
            <h1 class="text-4xl font-bold text-gray-800">Bienvenido al Congreso Internacional de Ingeniería Informática y Sistemas</h1>
            <p class="mt-4 text-lg text-gray-600">Explora, aprende y conecta con expertos en el campo de la ingeniería de sistemas.</p>
        </div>
    </div>
    <div class="flex flex-row justify-center items-center gap-6 mt-4">
        <div class="w-4xl items-center justify-center mx-6">
            <h2 class="text-2xl font-bold text-gray-800">Acerca del evento</h2>
            <p>
                La cuarta edición del Congreso Internacional de Ingeniería: Industria 4.0 tiene como propósito reforzar las necesidades de atención y tendencias en el desarrollo adaptativo, colaborativo y resiliente de la evolución digital disruptiva, dividida en cuatro ejes temáticos, para su aplicación y proyección. 1) Smart City, 2) Inteligencia Artificial, 3) Digitalización de Información y 4) Liderazgo 4.0
            </p>
            <p>
                El evento reunirá a especialistas de países como: Japón, Alemania, España, Brasil, México, Colombia, Chile, Paraguay, Perú entre otros, quienes presentarán los temas de su especialidad con un análisis constructivo sobre la revolución 4.0, en investigaciones, proyectos, empresas y servicios en general.
            </p>
            <div class="items-center justify-center mt-6">
                <h2 class="text-2xl font-bold text-gray-800">Fecha y Lugar</h2>
                <p>Fecha: 15 de noviembre de 2023</p>
                <p>Lugar: Universidad Nacional de San Agustín de Arequipa, Perú</p>
            </div>
        </div>
        <div class="items-center justify-center mx-6">
            <img src="/src/assets/Congreso_01.jpg" alt="congreso" class="w-80 h-80 object-cover rounded-lg" />
        </div>
    </div>
    
</main>
       
    