<section
  class="w-full h-screen bg-cover bg-center relative overflow-hidden"
  style={`background-image: url('/Talleres.webp'); background-size: cover; background-position: center;`}
>
  <div class="absolute w-full h-full bg-[#000415]/90 top-0 z-30 grid place-content-center">
    <div class="w-5xl mx-auto flex flex-col justify-center items-center text-white">
      <h1 class="text-3xl font-bold mb-10 text-[#00A6CC]">APLICACIONES INDUSTRIALES CON IOT Y EDGE AI</h1>
      <div class="mb-6 flex flex-row justify-center items-center gap-10">
        <div class="w-3xl">
          <h2 class="text-[1.3rem] font-bold mb-2">Objetivo</h2>
          <p class="mb-4 text-lg text-gray-200">
            Mostrar cómo desplegar modelos de IA en dispositivos IoT (Raspberry
            Pi/ESP32) para casos industriales (mantenimiento predictivo,
            monitoreo ambiental).
          </p>
          <h2 class="text-[1.3rem] font-bold mb-2">Resumen</h2>
          <p class="text-lg text-gray-200">Durante el taller se desarrollará:</p>
          <ul class="list-disc pl-6">
            <li class="text-lg text-gray-200">
              Flujo completo: desde sensores (ej: temperatura/vibración) hasta
              inferencia en edge con TensorFlow Lite.
            </li>
            <li class="text-lg text-gray-200">
              Protocolos IoT (MQTT) y optimización de modelos para hardware
              limitado.
            </li>
            <li class="mb-2 text-lg text-gray-200">Caso de éxito: Detección de anomalías en maquinaria.</li>
          </ul>
          <h2 class="text-[1.3rem] font-bold mb-2">Requerimientos</h2>
          <ul class="list-disc pl-6">
            <li class="text-lg text-gray-200">Arduino WIFI, un sensor ultrasónico, un ESP32</li>
            <li class="text-lg text-gray-200">Laptop con Docker instalado.</li>
            <li class="text-lg text-gray-200 mb-4">(Recomendado) Conocimientos básicos de Python y redes.</li>
          </ul>
          <p class="text-lg"><span class="font-bold">📅 Fecha:</span> 25 noviembre</p>
          <p class="text-lg"><span class="font-bold">⏰ Horario:</span> 7:00 pm</p>
          <p class="text-lg"><span class="font-bold">🏢 Lugar:</span> Laboratorio A</p>
          <p class="text-lg"><span class="font-bold">💰 Costo:</span> S/. 80.00</p>
        </div>
        <div class="mb-6 flex flex-col">
          <img src="/src/assets/iot.jpg" alt="IOT" class="w-md h-md object-cover" />
        </div>
      </div>
    </div>
  </div>
</section>
